.footer {
    width: 100vw;
    height: 4rem;
    /* background: rgb(40, 40, 40); */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
    font-size: 16px;
    
}

.heart {
    fill: aqua;
    position: relative;
    top: 5px;
    width: 18px;
    animation: pulse 1s ease infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.link{
    color: white;
}
/* a {
    -webkit-tap-highlight-color: transparent !important;
} */